<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style_menuAdmin.css">
  <script type="text/javascript" src="../js/jquery.js"></script>
   <script src="../models/Ingrediente.class.php"></script>
  <script type="text/javascript" src="../js/funcionesMenuAdmin.js"></script>
  <title>Document</title>
</head>
<body>

  <aside class="columna">
      <!--BARRA LATERAL DE ENLACES !-->
      <ul class="links">
        <li class="logo-container">

        <span class="logo-text">East Zone</span>
      </li>

          <!-- <li><a href="#reportes">Reportes</a></li>-->
          <li><a href="#inventario">Inventario</a></li>
          <li><a href="#menus">Menús</a></li>
      </ul>
  </aside>
   <div class="barra-superior">
    <img src="../img/comidaBarra.jpg" alt="Barra superior">
  </div>
  <section class="contenido-principal" >

  </section>

</body>
</html>