<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style_loginCliente.css">
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/loginCliente.js"></script>
  <title>Inicio sesión</title>
</head>
<body>
  <div class="overlay">
    <div class="card">
      <h1>East Zone</h1>
      <div class="eslogan"><i>Sabores auténticos, experiencias inolvidables</i></div>
      <h3>Inicio de Sesión</h3>
      <form id="formulario">
        <label for="correo">Correo:</label>
        <input type="text" id="correo" name="correo">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña">
        <button type="button" id="btn_aceptar">Aceptar</button>
      </form>
      <a href="#" id="link_registro">¿Aún no tienes una cuenta? Regístrate Aquí</a>
    </div>
  </div>
</body>
</html>
